<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin's DashBoard</title>
    <link rel="stylesheet" href="css/adminDashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,400;0,500;1,400&display=swap" rel="stylesheet"></head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
    
    <div class="container">
        <div class="greet-container">
            <div class="time-weather">
                <div class="date">
                    <h3 class="heading3-text">Today's Date : </h3>
                    <h2> <%=date%> </h2>
                </div>
                <div class="weather">
                    <h3 class="heading3-text">Temperature : <%= newTemp %> ℃</h3>
                    <h3 class="heading3-text">Location : Bengaluru</h3>
                </div>
            </div>
            <form action="/adminLogin" method="post">
            <button class="logoutbtn" type="submit">Logout</button>
        </form>
            <div class="quote">
                <h3 class="heading3-text">Quote of the Day : </h3>
                <q id="quote-text"><%= newquote %></q>
            </div>
        </div>

        <div class="operationsContainer">
            <div class="op">
                <div class="opicon">
                    <i class="fa-solid fa-book"></i>
                </div>
                <div class="optext">
                    ISSUE BOOK
                </div>
                <div class="oplink">
                    <a class="gotobtn" href=""><i class="fa-solid fa-circle-arrow-right"></i></a>
                </div>
            </div>
            <div class="op">
                <div class="opicon">
                    <i class="fa-solid fa-rotate-left"></i>
                    <i class="fa-solid fa-book"></i>
                </div>
                <div class="optext">
                    RETURN BOOK
                </div>
                <div class="oplink">
                    <a class="gotobtn" href=""><i class="fa-solid fa-circle-arrow-right"></i></a>
                    
                </div>
            </div>
            <div class="op">
                <div class="opicon">
                    <i class="fa-brands fa-readme"></i>
                </div>
                <div class="optext">
                    REISSUE BOOK
                </div>
                <div class="oplink">
                    <a class="gotobtn" href=""><i class="fa-solid fa-circle-arrow-right"></i></a>  
                </div>
            </div>
            <div class="op">
                <div class="opicon">
                    <i class="fa-solid fa-wallet"></i>

                </div>
                <div class="amount">0</div>
                <div class="optext">
                    FINE COLLECTED
                </div>
                <!-- <div class="oplink">
                    <a class="gotobtn" href=""><i class="fa-solid fa-circle-arrow-right"></i></a>
                    
                </div> -->
            </div>
            <div class="op">
                <div class="opicon">
                    <i class="fa-solid fa-triangle-exclamation"></i>

                </div>
                <div class="optext">
                    BOOKS DUE
                </div>
                <div class="oplink">
                    <a class="gotobtn" href=""><i class="fa-solid fa-circle-arrow-right"></i></a>
                    
                </div>
            </div>
            <div class="op">
                <div class="opicon">
                    <i class="fa-solid fa-list-check"></i>

                </div>
                <div class="optext">
                    MANAGE BOOKS
                </div>
                <div class="oplink">
                    <a class="gotobtn" href="/manageBooks"><i class="fa-solid fa-circle-arrow-right"></i></a>
                    
                </div>
            </div>
            <div class="op">
                <div class="opicon">
                    <i class="fa-solid fa-users"></i>

                </div>
                <div class="optext">
                    MANAGE USERS
                </div>
                <div class="oplink">
                    <a class="gotobtn" href="/manageUsers"><i class="fa-solid fa-circle-arrow-right"></i></a>
                    
                </div>
            </div>
            <div class="op">
                <div class="opicon">
                    <i class="fa-solid fa-database"></i>

                </div>
                <div class="optext">
                    Logs
                </div>
                <div class="oplink">
                    <a class="gotobtn" href="adminLogs"><i class="fa-solid fa-circle-arrow-right"></i></a>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>