<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Portal</title>
    <link rel="stylesheet" href="css/studentDash.css">
</head>
<body>
    <div class="container">
        <div class="studentDetails">
            <div class="studentInfo">
                <div class="student">Name : Default </div>
                <div class="student">Branch : Default</div>
                <div class="student">Email : Deafult@gmail.com</div>
            </div>
            <div class="logo"><img class="studlogo" src="images/LMS-removebg-preview.png" alt=""></div>
            <div class="studentInfo">
                <div class="penalties">Penalty : 10000&#8377</div>
                <div class="logoutContainer">
                    <form action="#" method="post"><button class="studentLogout">logout</button></form></div>
            </div>
        </div>
        <div class="booksIssued">
            <h3 class="heading3text">Books Issued: </h3>
            <div class="booksDetails">
                <div class="bookContainer">
                    <div class="book">ABc</div>
                    <div class="book">def</div>
                    <div class="book">ghr</div>
                    <div class="book">10/10/2023</div>
                </div>
                <div class="bookContainer">
                    <div class="book">ABc</div>
                    <div class="book">def</div>
                    <div class="book">ghr</div>
                    <div class="book">10/10/2023</div>
                </div>
                <div class="bookContainer">
                    <div class="book">ABc</div>
                    <div class="book">def</div>
                    <div class="book">ghr</div>
                    <div class="book">10/10/2023</div>
                </div>
                <div class="bookContainer">
                    <div class="book">ABc</div>
                    <div class="book">def</div>
                    <div class="book">ghr</div>
                    <div class="book">10/10/2023</div>
                </div>
                <div class="bookContainer">
                    <div class="book">ABc</div>
                    <div class="book">def</div>
                    <div class="book">ghr</div>
                    <div class="book">10/10/2023</div>
                </div>
                <div class="bookContainer">
                    <div class="book">ABc</div>
                    <div class="book">def</div>
                    <div class="book">ghr</div>
                    <div class="book">10/10/2023</div>
                </div>
                <div class="bookContainer">
                    <div class="book">ABc</div>
                    <div class="book">def</div>
                    <div class="book">ghr</div>
                    <div class="book">10/10/2023</div>
                </div>
            </div>

        </div>
    </div>
    
</body>
</html>